.balanceTile{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background: #fff;
    float: left;
    transition: box-shadow .4s;
}

.balanceTile:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.balanceTile > h1{
    text-align: start;
    font-weight: 300;
    font-size: 20px;
}

.tile-title{
    margin-left: 5px;
    margin-top: 3px;
}


.institution{
    font-size: 12px;
    font-weight: 300px;
    
}
.accounts > p{
    font-size: 12;
}

.account {
    display: flex;
    flex-direction: column;
}

.account-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unLink-button{
    border: 1px solid gray;
    padding: 5px;
    font-size: 10px;
}

.unLink-button:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}