.distTile{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    height: 300px;
    background: #fff;
    float: left;
    transition: box-shadow .4s;
    margin-right: 2%;
}

.distTile:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.distTile > h1{
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 15px;
}

.main-cont{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.asset-cont{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 15px;
    padding: 15px;
    border:  1px solid lightgrey;
    border-radius: 15px;
}


.asset-cont2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 15px;
    padding: 15px;
    border:  1px solid lightgrey;
    border-radius: 15px;

}

.button-cont{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.add-button{
padding-left: 10px;
padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:  1px solid black;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
}

.asset-cont:hover .add-button{
    transform: translateY(0rem);
    animation: fadeInUp 0.5s ease 0s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.asset-num{
    font-size: 1.6rem;
    font-weight: 600;
    /* color: #635BFF; */
}

.asset-name{
    font-size: 1.6rem;
}


.cash-cont{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.cash-cont2{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.cash-cont3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 85px;
}

.cash-cont4{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 140px;
}