.historyTile{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    height: 300px;
    width: 550px;
    margin-right: 2%;
    background: #fff;
    float: left;
    transition: box-shadow .4s;
}

.historyTile:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.historyTile > h1{

    text-align: start;
    font-weight: 300;
    font-size: 20px;


}

.chart-snapshot > img{
    width: 80%;
}

