.porfolioTile{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;



}

.porfolioTile:hover{
    cursor: pointer;
    transform: scale(1.05)
    
}

.porfolioTile > h1{
    text-align: start;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;


}

.change{
    font-weight: 900;
    color: green;
    font-size: 25px
    ;
}

.value{
    font-size: 30px;
}

