.account-card {
  border:  1px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
margin-top: 10px;
}

.item-balance{
  font-size: 20px;
  font-weight: 600;

}

.account-card:hover{
    /* background-color: rgb(237, 237, 237); */
    cursor: pointer;

}

.account {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.drop-down-transactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop-down-transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3px;
}

.account-name{
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.drop-down-transaction-amount{
  margin-right: 12px;
}

.drop-down-transaction-category{
  margin-left: 10px;
}

.drop-down-transaction-category{
  display: flex;
  align-items: center;
  justify-content: center;
}