

.incomeTile{
    padding: 10px;
    border-radius: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tile-color);
    color: var(--text-color);
    float: left;
    transition: box-shadow .4s;
    margin-left: 1.5%;
}

.incomeTile:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.small-font {
  font-size: 13px;
}

.large-font {
  font-size: 16px;
}




.incomeTile > h1{
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 15px;

}

.bob{
    font-size: 12px;
    font-weight: 600;
    color: var(--grey-color2);
}

.chart-container{
    display: flex;
    flex-direction: column;

}

@media (max-width: 1500px) {
    .chart-container {
      width: 100%;
      height: 100%;
    }
  }

  .jim{
    width: 330;
    height: 250;

  }
