

.modal-tile {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 300px;
  width: 400px;
  background-color: #eff3f8;
  padding: 20px;
  z-index: 11;
  border-radius: 15px;
}

.modal-content{
  display: flex;
  flex-direction: column;
  opacity: 1;

}

.modal-content > form > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-header {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.modal-header > h1 {
 font-size: 24px;
 font-weight: 600;
}
.modal-close {
  cursor: pointer;
  font-size: 24px;
}


.modalcover {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.5;
  z-index : 10;
  background-color: white;
  opacity: .8;
}