.totvalTile{
    background-color: var(--tile-color);
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    transition: box-shadow .4s;
    margin-left: 1.5%;
    color: var(--text-color);
}

.totvalTile:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}


.tot-amount{
    margin-top: 3%;
    font-size: 42px;
    font-weight: 900;
    padding-left: 15px;
}
.tile-title{
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 15px;
}

.tot-chart{
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}

.gain-loss{
    margin-left: 15px;
    margin-top: 9px;
    font-size: 14px;
    /* color: var(--selected-color); */
    background-color: var(--accent-color);
    color: var(--text-color);
    /* background-color: #52c8a0; */
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.gain-loss-cont{
    display: flex;
    flex-direction: row;
}

.up-arrow{
    font-size: 9px;
    margin-top: 2.5px;
    margin-right: 2.5px;
}