.transferTile{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    height: 300px;
    transition: box-shadow .4s;
    margin-right: 2%;
    background-color: var(--tile-color);
    color: var(--text-color);
}

.transferTile:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}


.transferTile > h1{
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 15px;
}


.stock{
    border:  1px solid lightgrey;
    padding: 10px;

    padding-right: 0;
    margin-right: 15px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    /* color: grey; */
    color: var(--grey-color4);
}

.stock2{
    border:  1px solid lightgrey;
    padding: 10px;

    padding-right: 0;
    margin-right: 15px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    /* color: var(--grey-color2); */
    color: var(--grey-color4);
}

.ticker{
    /* margin-top: 5px; */
}

.stock-price{
    margin-right: 15px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #52c8a0;
    border-radius: 5px;
    padding: 5px;
}

.stock-price2{
    margin-right: 15px;
    font-size: 12px;
    font-weight: 600; 
    color: white;
    background-color: #ec898b;
    border-radius: 5px;
    padding: 5px;
}

.stock-chart{
    width: 40%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}