
nav{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.container{ 
    margin: 10px 0px 10px 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 2px;

}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}


.tab{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(60, 60, 60);
    align-self: center;

}

.cust-logo{
    background-color: white;
    padding: 7px;
    color: #635BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #635BFF;

}

.double-e{
font-weight: 700;
font-size: 13px;
}

.name{
font-weight: 450;
font-size: 9px;
}

.selected{
    color:#635BFF;
    font-weight: 600;

}

.navigation2{
    display: flex;
    flex-direction: row;
margin-right: 25px;
align-items: center;

}

.search-bar{
    margin-right: 18px;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 30px;
}

.search-bar::placeholder{
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

.search-bar:focus{
    outline: none;
    border-color: #635BFF;
    font-size: 13px;
    font-weight: 600;
}

.search-icon {
position: relative;
top: 8px;
    left: 35px;
  }



.notifs:hover{
    cursor: pointer;
    color: #635BFF;
}