
nav{
    display: flex;
    background-color: #FFFFFF;
    z-index: 20;

}

.container{ 
    max-width:800px;   
    display: flex;
    flex-direction: row;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;

}


.tab{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(60, 60, 60);
    align-self: center;

}

.nav-item-dash{
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: #635BFF;
    align-self: center;
}

.nav-item:hover{
    color: lightgray;
    cursor:pointer
}

.cust-logo{
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 13px;
    margin-bottom: 13px;
    background-color: white;
    padding: 7px;
    color: #635BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #635BFF;
}

.double-e{
font-weight: 700;
margin-bottom: 0px;
font-size: 13px;
}

.name{
font-weight: 450;
margin-top: 0px;
font-size: 9px;
}