.sidebarRight{
    position:fixed;
    right:0;
    bottom: 0;
    top: 65px;
    background-color: white;
    width: 300px;
    z-index: 400;
    display: flex;
}

.sidebarRight-icons{
    position: relative;
    margin-left: 15px;

}

.acc{
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px    
}

.account-examples{
    margin-left: 0;

}

.trans{
    font-size: 17px;
    font-weight: 600;
    bottom: 600px;
    position: absolute;
    left: 0;

}

.sidebar-icons img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-icons:hover{
background-color: rgb(234, 234, 234);
}
