.sidebarRight {
position: relative;
  width: 15.2%;
  background-color: white;
  bottom: 0px;
  top: 0px;
  min-width: 100px;
  padding: 15px;
}

.account {
  margin-bottom: 20px;
}
.title {
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: column;
}


.sideBarRight-title{
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 15px;
  margin-bottom: 7%;
}
.transaction {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  padding-bottom: 10px;
  /* border-bottom: 2px gray solid; */
  margin-left: 15px;
}

.transaction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price{
    font-weight: 600;
    margin-left: 40px;
    font-size: 14px;
    margin-top: 4%;
    /* color: lightgreen;
    color: rgb(238, 113, 113); */
}





.merchant-name{
  font-weight: 600;
  color: black;
  font-size: 14px;

}

.tran-name-container{
  display: flex;
  flex-direction: column;

}

.date{
  margin-top: 3.5%;
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.transac-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}