.sidebar{
    position: relative;
    width: 4.8%;
    top: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: #635BFF;

}

.sidebar-icons{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;

}

.dash-icons{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-size: 20px 30px;
}

.dash-background{
    transition: 0.2s;
    border-radius: 5px;
    padding: 9px;
    padding-top: 7px;
    padding-bottom: 6px;
}


.dash-background:hover{
    background-color: #d8c7ff;
    border-radius: 5px;
    padding: 9px;
    padding-top: 7px;
    padding-bottom: 6px;
    cursor: pointer;
}

.sidebar-icons img{
    height: 20px;
    margin-bottom: 4px;
}


.sidebar-icons div{
    font-size: 10px;
    font-weight: 300;
}

.logout{
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    bottom: 0px;
    margin-left: 25%;
    color: black;
}



