.App {

}

body{
  min-width: 1500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: white;
  
}

.sidebarRight{
  position:fixed;
  right:0;
  top: 65px;
  background-color: white;
  width: 300px;
  z-index: 400;

}

.sidebar-icons{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-icons img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-icons:hover{
background-color: rgb(234, 234, 234);
}

.sidebar-icons div{
  font-size: 10px;
  font-weight: 300;
}


.content-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  top: 70px;
}

.content{
    width: 100%;
  border-radius: 15px;
  background-color: #eff3f8;

}
