* {
  margin: 0px ;
  padding: 0px ;
  box-sizing: border-box;
  font-family:'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;



  
}

a{
  text-decoration: none;
  
}



@media only screen and (min-width: 1200px)  {
 body{
  width: 1200px;
  background-color: red;
 }
}


/* purple: 635BFF */
