.settings-cont{
    display: flex;
    flex-direction: column;
}

.setting-tile{
    margin-top: 35px;
    margin-left: 45px;
    background-color: var(--tile-color);
    margin-right: 0px;
    border-radius: 15px;
    padding: 35px;
    padding-top: 25px;
    color: var(--text-color);;
    min-width: 600px;
}

.setting-tile2{
    margin-top: 35px;
    margin-left: 45px;
    background-color: var(--tile-color);
    margin-right: 45px;
    border-radius: 15px;
    padding: 35px;
    padding-top: 25px;
    color: var(--text-color);;
    max-width: 1200px;
}

.section-title{
    font-size: 24px;
}

.section-title2{
    font-size: 24px;
    margin-bottom: 20px;
}

.color-title{
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    margin-top: 30px;
}

.color-cont{
margin-top: 15px;
display: flex;
flex-direction: row;
gap: 10px;
}

.purple{
    color: #635BFF;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

.pink{
    color: pink;
}

.black{
    color: black;
}


.theme-button-cont{
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.dark-theme-button{
    padding: 10px;
    background-color: #635BFF;
    border-radius: 10px;
}

.light-theme-button{
    padding: 10px;
    background-color: #d8c7ff;
    color: black;
    border-radius: 10px;
}

.deeznuts{
    margin-left: -5px;
}

.setting-tile2 h3{
margin-top: 15px;
margin-bottom: 2px;
font-weight: 500;
}